# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Make vim the default editor
export EDITOR="vim"
export SVN_EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Set Node's path (in homebrew's lib)
if [[ -d /usr/local/lib/node_modules ]]; then
    export NODE_PATH=/usr/local/lib/node_modules
fi

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# rbenv shim
if command -v rbenv >/dev/null 2>&1; then eval "$(rbenv init -)"; fi
